@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container {
    display: grid;

    grid-template-columns: 100px 1fr 100px;
    grid-template-rows: 100px 1fr 100px;
}

body {
    background-color: rgb(33, 125, 190);
}

header {
    text-align: center;
    color: white;
    padding-top: 50px;
    grid-area: 1 / 1 / 2 / -1;
}

section {
    background-color: white;
    color: black;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 55vw;
    border-radius: 10px;
    justify-self: center;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.267);

    grid-area: 2 / 2 / -2 / -2;

}

div.conteudo {
    padding: 20px;
    line-height: 30px;
}

div#res {
    text-align: center;
    padding: 20px;
}

img {
    display: block;
    justify-self: center;
    border-radius: 50%;
    height: 250px;
    width: 250px;
    
}

footer {
    text-align: center;
    color: white;
    grid-area: 3 / 1 / -1 / -1;
}